@import url(../../colorSelector.css);

.horizontalLine {
  height: 1.5px;
  background-color: black;
}

.title {
  font-size: larger;
  align-items: center;
}

.titleBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.createRoomButtonContainer {
  display: flex;
  align-items: center;
}

.createRoomButton {
  font-size: 16px;
  width: 18rem;
  margin-left: auto;
}

.createRoomButtonIcon {
  font-size: 28px;
  color: var(--blue-900);
}

.contentTitle {
  font-weight: bolder;
  margin-top: 3px;
}

.container {
  overflow: auto;
  max-height: 80vh; /* 필요에 따라 조정 */
}

/* debateRoomContainer에 특정 높이와 스크롤을 적용합니다. */
.debateRoomContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  height: 400px; /* 필요에 따라 조정 */
  overflow: auto;
}

.debateRoomCard {
  width: calc((100% - 60px) / 4);
}
